In [13]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [14]:
df18001 = pd.read_csv('final181.csv')
df19001 = pd.read_csv('final191.csv')

In [15]:
df19001.shape

(1306, 3)

In [16]:
df19001 = df19001[np.logical_and(df19001['19調查品項']!='政治人物', df19001['19調查品項']!='談話性節目主持人')]

In [17]:
df19001 = df19001[np.logical_and(df19001['19調查品項']!='綜藝節目主持人', df19001['19調查品項']!='吸塵器')]

In [18]:
df19001.shape

(1260, 3)

In [66]:
df19001['19調查品項'].unique()[9]

'直銷公司'

In [68]:
df18 = df18001[df18001['18調查品項'] == '直銷公司' ].reset_index()
df18

   index 18調查品項      18廠商名稱  18廠商排名
0     85   直銷公司     Amway安麗       1
1     86   直銷公司      NUSKIN       2
2     87   直銷公司         賀寶芙       3
3     88   直銷公司          美安       4
4     89   直銷公司         美樂家       5
5     90   直銷公司    雅芳(AVON)       6
6     91   直銷公司          葡眾       7
7     92   直銷公司  MaryKay玫琳凱       8

In [67]:
data19 = df19001[df19001['19調查品項'] == '直銷公司'].reset_index()
data19

    index 19調查品項       19廠商名稱  19廠商排名
0      90   直銷公司      Amway安麗       1
1      91   直銷公司      NU SKIN       2
2      92   直銷公司          賀寶芙       3
3      93   直銷公司          美樂家       4
4      94   直銷公司           葡眾       5
5      95   直銷公司           美安       6
6      96   直銷公司      雅芳(AVON       7
7      97   直銷公司          .丞燕       8
8      98   直銷公司  Mary Kay玫琳凱       8
9      99   直銷公司           全美       8
10    100   直銷公司           克緹      11

In [44]:
ff = data19[data19['19廠商名稱']=='台灣之星'].reset_index()
ff

   level_0  index    19調查品項 19廠商名稱  19廠商排名
0        3      3  行動電話系統業者   台灣之星       4

In [43]:
ff['19廠商排名'].to

3    4
Name: 19廠商排名, dtype: int64

In [75]:
result1901 = []
for i in range(97):
    a = list(df18001['18調查品項'].unique())[i]##行動電話系統業者、數據網路服務...
    data18 = df18001[df18001['18調查品項'] == a].reset_index()## 18調查品項 == 行動電話系統業者...的紫dataframe
    data19 = df19001[df19001['19調查品項'] == a].reset_index()## 19調查品項 == 行動電話系統業者...的紫dataframe
    #data18['18廠商名稱'][0] not in list(data19['19廠商名稱'][0:3])
    for j in range(3):
        if data18['18廠商名稱'][j] not in list(data19['19廠商名稱'][0:3]):##條件
            bb = data18['18廠商名稱'][j]
            result1901.append(data18['18調查品項'][0])
            result1901.append(bb)
            result1901.append(data18['18廠商排名'][j])
            #cc = data19[data19['19廠商名稱']==bb].reset_index()
            #result1901.append(cc.loc[0][4])
            #if cc.loc[0][4] <=5:
                #result1901.append('否')
            #else:
                #result1901.append('是')

In [76]:
result1901

['房屋仲介',
 '21世紀',
 3,
 '連鎖藥妝店╱藥局',
 '丁丁藥局',
 3,
 '直銷公司',
 'NUSKIN',
 2,
 '金控集團 ',
 '元大',
 3,
 '產物保險',
 '新光',
 3,
 '銀行',
 '富邦',
 1,
 '銀行',
 '華南',
 3,
 '大型賣場',
 '大潤發',
 3,
 '洗髮精',
 '耐斯566/澎澎/sara sara莎啦',
 2,
 '洗髮精',
 '多芬',
 3,
 '沐浴乳',
 '蜜妮Biore',
 3,
 '電動刮鬍刀',
 '百靈',
 3,
 '男性洗面乳',
 '巴黎萊雅L’OREL',
 3,
 '女性洗面乳',
 '資生堂 SHISEIDO',
 3,
 '女性內衣',
 '曼黛瑪蓮',
 3,
 '洗衣機 ',
 'Sanyo三洋(媽媽樂)',
 3,
 '冰箱',
 'LG',
 2,
 '空氣清淨機',
 'Hitach日立',
 2,
 '空氣清淨機',
 '3M',
 3,
 '顯示器（Monitor）',
 'Apple',
 3,
 'GPS（衛星導航）硬體',
 '三星',
 1,
 '投影機',
 'HP',
 3,
 '連鎖傢俱',
 'B&Q特力屋',
 3,
 '衛浴設備',
 '三陽',
 3,
 '抽油煙機',
 '三陽',
 3,
 '淨水器',
 '安麗',
 1,
 '鮮奶',
 '瑞穗',
 3,
 '優酪乳',
 '1',
 1,
 '優酪乳',
 '3',
 2,
 '優酪乳',
 '1月1日',
 3,
 '碳酸氣泡飲料',
 '蘋果西打(大西洋)',
 3,
 '罐裝咖啡',
 '16',
 1,
 '罐裝咖啡',
 '2',
 2,
 '罐裝咖啡',
 '4',
 3,
 '茶飲料',
 '10',
 1,
 '茶飲料',
 '12',
 2,
 '茶飲料',
 '0',
 3,
 '包裝水',
 '8',
 1,
 '包裝水',
 '23',
 2,
 '包裝水',
 '13',
 3,
 '啤酒',
 '青島',
 3,
 '白蘭地',
 '馬爹利Matelle',
 3,
 '威士忌',
 '蘇格登',
 3,
 '速食麵',
 '維力',
 2,
 '嬰幼兒奶粉',
 '美強生（優生、愛力大、速體健、嬰兒美、優兒A+）',
 3,
 '喉糖',
 'Airwaves',
 3,
 '喜餅',
 '高帽子(紅帽子)',
 2,
 '雞精',
 '老協珍',
 2,
 '雞精',
 '娘家',
 3,
 '洗衣粉╱精',
 '熊寶貝',
 3,
 '牙膏',
 '舒酸定',
 3,
 '輪胎',
 '固特異',
 3,
 '休閒服',
 'UNI QLO',
 3,
 '女錶',
 '勞力士Rolex',
 3,
 '按摩椅',
 '高島(好家庭)',
 2,
 '血壓計',
 'TERUMO泰爾茂',
 3,
 '體脂計',
 '博依Beurer',
 3,
 '隱形眼鏡藥水',
 '愛爾康ALCON',
 2,
 '嬰兒紙尿片╱褲',
 '母嬰寧Moony(滿意寶寶)',
 2,
 '電視台',
 'GTV八大',
 3]

In [83]:
x = np.array(result1901)
x = x.reshape(60,3)
df = pd.DataFrame(x, columns=['品項名稱', '品牌', '2018排名'])

In [85]:
df.to_excel('{}.xlsx'.format('df01'),encoding='utf-8', index = False )

In [84]:
df

            品項名稱                        品牌 2018排名
0           房屋仲介                      21世紀      3
1       連鎖藥妝店╱藥局                      丁丁藥局      3
2           直銷公司                    NUSKIN      2
3          金控集團                         元大      3
4           產物保險                        新光      3
5             銀行                        富邦      1
6             銀行                        華南      3
7           大型賣場                       大潤發      3
8            洗髮精      耐斯566/澎澎/sara sara莎啦      2
9            洗髮精                        多芬      3
10           沐浴乳                   蜜妮Biore      3
11         電動刮鬍刀                        百靈      3
12         男性洗面乳                巴黎萊雅L’OREL      3
13         女性洗面乳              資生堂 SHISEIDO      3
14          女性內衣                      曼黛瑪蓮      3
15          洗衣機               Sanyo三洋(媽媽樂)      3
16            冰箱                        LG      2
17         空氣清淨機                  Hitach日立      2
18         空氣清淨機                        3M      3
19  顯示器（Monitor）                     Apple      3
20   GPS（衛星導航）硬體                        三星      1
21           投影機                        HP      3
22          連鎖傢俱                    B&Q特力屋      3
23          衛浴設備                        三陽      3
24          抽油煙機                        三陽      3
25           淨水器                        安麗      1
26            鮮奶                        瑞穗      3
27           優酪乳                         1      1
28           優酪乳                         3      2
29           優酪乳                      1月1日      3
30        碳酸氣泡飲料                 蘋果西打(大西洋)      3
31          罐裝咖啡                        16      1
32          罐裝咖啡                         2      2
33          罐裝咖啡                         4      3
34           茶飲料                        10      1
35           茶飲料                        12      2
36           茶飲料                         0      3
37           包裝水                         8      1
38           包裝水                        23      2
39           包裝水                        13      3
40            啤酒                        青島      3
41           白蘭地                馬爹利Matelle      3
42           威士忌                       蘇格登      3
43           速食麵                        維力      2
44         嬰幼兒奶粉  美強生（優生、愛力大、速體健、嬰兒美、優兒A+）      3
45            喉糖                  Airwaves      3
46            喜餅                  高帽子(紅帽子)      2
47            雞精                       老協珍      2
48            雞精                        娘家      3
49         洗衣粉╱精                       熊寶貝      3
50            牙膏                       舒酸定      3
51            輪胎                       固特異      3
52           休閒服                   UNI QLO      3
53            女錶                  勞力士Rolex      3
54           按摩椅                   高島(好家庭)      2
55           血壓計                 TERUMO泰爾茂      3
56           體脂計                  博依Beurer      3
57        隱形眼鏡藥水                  愛爾康ALCON      2
58       嬰兒紙尿片╱褲            母嬰寧Moony(滿意寶寶)      2
59           電視台                     GTV八大      3

In [26]:
df = pd.DataFrame(np.random.randn(5,3),columns=list('ABC'))

In [27]:
df

          A         B         C
0  0.387856  0.375531 -0.719645
1 -0.670902  1.232743  0.555016
2  0.509588 -0.166889  1.672406
3 -2.441608  0.151744  0.467272
4  0.704194 -1.480666 -1.055991

In [32]:
df[df['B']>= 0.375531]

          A         B         C
0  0.387856  0.375531 -0.719645
1 -0.670902  1.232743  0.555016